@media screen and (max-width: 1200px) {}





@media screen and (max-width: 992px) {
    .container {
        width: 88%;
    }

    #hero-container {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        padding: 60px;
        gap: 20px;
    }

    .category {
        padding: 12px 16px;
    }

    .category-box {
        flex-wrap: wrap;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 15px;
    }

    .btn {
        font-size: 14px;
    }

    .product-box {
        gap: 20px;
        flex-direction: column;
        align-items: stretch;
    }

    .card {
        max-width: 100%;
    }

    #news-container {
        padding: 100px;
    }

}





@media screen and (max-width: 640px) {

    .container {
        width: 95%;
        margin: 0 auto;
    }

    #hero-container {
        padding: 20px;
    }

    .hero-image img {
        max-width: 290px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 12px;
        line-height: 18px;
    }

    .btn {
        font-size: 12px;
    }

    .category-box {
        flex-direction: column;
    }

    .category {
        padding: 10px 22px;
    }

    .watch img {
        width: 65px;
    }

    .bag img {
        width: 80px;
    }

    .shoes img {
        width: 110px;
    }




    .card h5 {
        font-size: 18px;
    }

    .card p {
        font-size: 12px;
    }

    .card button {
        font-size: 11px;
    }

#news-container {
        padding: 60px 30px;
    }

    h4 {
    font-size: 20px;
    }

    #news-container form {
    margin-top: 20px;
    gap: 10px;
    flex-direction: column;
    }

    .send {
    border-radius: 6px 6px;
    }

}