* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 88%;
    margin: 0 auto;
}


/* Heading-Text-Area  */

h1 {
    font-size: 44px;
}

h2 {
    font-size: 38px;
    font-weight: 600;
    color: #FF136F;
}

h3 {
    font-size: 34px;
    font-weight: 500;
}

h4 {
    font-size: 30px;
    text-transform: uppercase;
    color: #1F1F1F;

}

h5 {
    font-size: 20px;
    font-weight: 600;
}

p {
    font-family: "inter";
    font-size: 16px;
    color: #4E4E4E;
    line-height: 26px;
}

.btn {
    font-family: "inter";
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 14px 24px;
    border: 1px solid black;
    border-radius: 6px;
    letter-spacing: 1.5px;
    transition: 0.5s;
    cursor: pointer;
}




.btn:hover {
    background-color: #FF136F;
    border: 1px solid #FF136F;
    box-shadow: 4px 4px 10px #FF136F50;
}

.hero-content button {
    background-image: linear-gradient(to bottom, #FF589b, #FF136F);
    padding: 13px 28px;
    border: 1px solid #FF136F;
}

.hero-content button:hover {
    background-image: linear-gradient(to top, #efefef, #ffffff);
    color: #FF136F;
}

#news-container button {
    background-image: linear-gradient(to bottom, #FF589b, #FF136F);
    padding: 13px 28px;
    border: 1px solid #FF136F;
    border-radius: 0 6px 6px 0;
}

#news-container button:hover {
    background-image: linear-gradient(to top, #efefef, #ffffff);
    color: #FF136F;
}

/*........ Section-Area ........*/


/* common classes */
#header,
#hero {
    margin-bottom: 60px;
}

#category,
#shoes,
#backpack {
    margin-bottom: 100px;
}

.category {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 18px;
    border-radius: 16px;
}

.category h3 {
    color: white;
}

.product-box {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.card {
    border: 2px solid #929292;
    border-radius: 20px;
    padding: 25px;
    max-width: 320px;
    text-align: center;
    box-shadow: 4px 4px 12px #dadada;

}

.card p {
    font-size: 13px;
    line-height: 20px;
}

.card img {
    width: 100%;
}

.card * {
    margin-bottom: 10px;
}


#backpack img {
    max-width: 180px;
}

/* Header Section  */

#header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

#header-container .logo img {
    width: 100%;
    max-width: 148px;
}

#header-container .menu img {
    width: 100%;
    max-width: 48px;
}


/* Hero section  */
#hero-container {
    background-color: #FEEAE9;
    display: flex;
    padding: 40px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero-content * {
    margin-bottom: 10px;
}

.hero-image img {
    max-width: 400px;
}

.hero-image {
    align-items: center;
}


/* Categories */
.category-box {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.heading h3 {
    margin-bottom: 15px;
}




/* news */
#news-container {
    background: #FFF2F1;
    padding: 146px;
    text-align: center;
    border-radius: 20px;
}

#news-container form {
    margin-top: 20px;
    display: flex;
}

#news-container form input[type=text] {
    width: 100%;
    padding: 10px;
    border: none;
}